/* Importing Montserrat through Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/* Header settings */
h1, h2, h3, h4, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2.2em;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 1.4em;
  color: #ffffff;
  margin: 0px;
}

h3 {
  font-size: 0.9em;
  color: #A5B4D7;
  margin: 0px;
}

h4 {
  font-size: 4em;
  color: #A5B4D7;
  margin: 0px;
  position: absolute;
}

h6 {
  font-size: 1em;
}



/* Navbar stars here */
.navbar {
  background-color: #415EA3; 
  color: #ffffff; 
  padding: 100px;
  text-align: center;
  height: 5vh;
}

/* Styling for navbar listed items */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  text-shadow: 0.5px 2px #6c7bfe;
  text-decoration: none;
  color: #A5B4D7; 
  padding: 10px;
}

.navbar ul li a:hover {
  color: #072b66; 
}

/* Styling for Tawa College logo */
.logo {
  height: 16%;
  width: auto;
  position: absolute;
  top: 45px;
  left: 50px;
}



/* Styling for Tawa College banner and header */
.header {
  background-color: #415EA3;
  width: 1500px;
  height: 820px;
  overflow: hidden;
}

.banner {
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: center, center;
  background-color: #415EA3;
  position: absolute;
}



/* Body starts here */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
}

/* Styling and settings for body layout */
.grid-container {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 2550px 150px 150px;
  height: 100vh;
  background-color: #415EA3;
  border-radius: 20px; 
}


.content {
  box-sizing: border-box;
  position: relative;
  color: black;
  overflow: hidden; 
  grid-column-start: 1;
  grid-column-end: span 2;
}

.scroll-area {
  background-color: #415EA3; /* Primary background colour */
  height: 100%;
  padding: 20px;
  overflow: auto;
  text-align: center;
  padding-top: 120px;
}

/* Styling for left aligned quote */
p.lquote {
  line-height: 0px;
  font-size: 1em;
  color: #AAB6D9;
  margin: 0px;
  text-align: left;
  padding-left: 40px;
  padding-top: 170px;
}

/* Styling for right aligned quote */
p.rquote {
  line-height: 0px;
  font-size: 1em;
  color: #AAB6D9;
  margin: 0px;
  text-align: right;
  padding-right: 40px;
  padding-top: 170px;
}

/* Styling for left aligned subheading */
p.lsub {
  line-height: 0px;
  font-size: 2.25em;
  color: #ffffff;
  margin: 0px;
  text-align: left;
  padding-left: 40px;
  padding-top: 45px;
  padding-bottom: 40px;
}

/* Styling for right aligned subheading */
p.rsub {
  line-height: 0px;
  font-size: 2.25em;
  color: #ffffff;
  margin: 0px;
  text-align: right; 
  padding-right: 40px;
  padding-top: 45px;
  padding-bottom: 40px;
}

/* Styling for left aligned content */
p.lcontent {
  line-height: 32px;
  font-size: 1.2em;
  color: #ebebeb;
  margin: 0px;
  text-align: left; 
  padding-left: 40px;
  padding-bottom: 250px;
}

/* Styling for right aligned content */
p.rcontent {
  line-height: 32px;
  font-size: 1.2em;
  color: #ebebeb;
  margin: 0px;
  text-align: right;
  padding-right: 40px;
  padding-bottom: 250px;
}

/* More styling for text content */
.information {
  padding-top: 2.5%;
  text-align: left;
  padding-left: 330px;
  padding-right: 330px;
}

.information div {
  border: 2px solid #555;
  background-color: #fff;
}

/* Styling for left and right aligned images */
.placeholdone {
  position: absolute;
  top: 500px;
  right: 370px;
}

.placeholdtwo {
  position: absolute;
  top: 1210px;
  left: 370px;
}

.placeholdthree {
  position: absolute;
  top: 1920px;
  right: 370px;
}

/* Image size settings */
.blogimages {
  width: 50%;
  height: auto;
  border-radius: 5px;
}



/* Styling for back to top button */
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  background-color: #0A0046; /* Primary Button colour */
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 15px; /* Curved corners */
}

/* Styling for when back to top is hovered over */
#myBtn:hover {
  background-color: #f7c546; /* Hover colour */
  color: #3762a5;
}



/* Styling and settings for footer */
.footer {
  padding-top: 100px;
  background-color: #3744a5;
  color: #ffffff;
  padding: 10px;
  grid-column-start: 1;
  grid-column-end: span 2;
  text-align: center;
  padding-top: 45px;
  /* Footer image settings */
  background-image: url("../images/koru4.jpg"); /* Directory for footer bg image */
  background-size: contain;
  background-position: center;
}

/* Styling for footer listed items */
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  display: inline;
}

.footer ul li a {
  text-decoration: none;
  color: #ffffff; /* Text primary colour */
  font-weight: 550; 
  padding: 10px;
  text-shadow: 2px 2px #1ea1fe; /* Drop shadow for text */
}

.footer ul li a:hover {
  color: #f7c546; /* Text hover colour */
}

/* Styling for copyright statement */
.footerText {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-align: center;
  text-shadow: 2px 2px #1ea1fe; /* Drop shadow for text */
}
