h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2.2em;
  color: rgb(255, 255, 255);
  margin: 15 0 0 20;
}

h2 {
  font-size: 1.4em;
  color: #ffffff;
  margin: 0px;
}

h3 {
  font-size: 0.9em;
  color: #A5B4D7;
  margin: 0px;
}

h4 {
  font-size: 4em;
  color: #A5B4D7;
  margin: 0px;
  position: absolute;
}

.navbar {
  background-color: #415EA3; 
  color: #ffffff; 
  padding: 100px;
  text-align: center;
  height: 5vh;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  text-decoration: none;
  color: #A5B4D7; 
  padding: 10px;
}

.navbar ul li a:hover {
  color: #072b66; 
}

.logo {
  height: 16%;
  width: auto;
  position: absolute;
  top: 45px;
  left: 50px;
}


body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 2550px 100px 150px;
  height: 100vh;
  background-color: #415EA3;
  border-radius: 20px; 
}
 
.header {
  background-color: #415EA3;
  width: 1500px;
  height: 820px;
  overflow: hidden;
}

.banner {
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: center, center;
  background-color: #415EA3;
  position: absolute;
}


.content {
  box-sizing: border-box;
  position: relative;
  color: black;
  overflow: hidden; 
  grid-column-start: 1;
  grid-column-end: span 2;
}

.scroll-area {
  background-color: #415EA3;
  height: 100%;
  padding: 20px;
  overflow: auto;
  text-align: center;
  padding-top: 120px;
}

#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  background-color: #0A0046;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
}

#myBtn:hover {
  background-color: #f7c546;
  color: #3762a5;
}

.footer {
  padding-top: 100px;
  background-color: #2990ff;
  color: #fff;
  padding: 10px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: span 2;
  position: relative;
}

.information {
  padding-top: 2.5%;
  text-align: left;
  padding-left: 330px;
  padding-right: 330px;
}

.information div {
  border: 2px solid #555;
  background-color: #fff;
}

.placementimage {
  width: 50%;
  height: auto;
  padding-left: 500px;
}

.placeholdone {
  width: 650px;
  height: 460px;
  position: absolute;
  top: 500px;
  right: 370px;
}

.placeholdtwo {
  width: 600px;
  height: 460px;
  position: absolute;
  top: 1200px;
  left: 380px;
}

.placeholdthree {
  width: 650px;
  height: 460px;
  position: absolute;
  top: 1920px;
  right: 370px;
}

.blogimages {
  width: 50%;
  height: auto;
  border-radius: 5px;
}









